@media only screen and (min-width: 1024px){

}
@media only screen and (min-width: 980px){
	.navi_descr, .menu_btn{
		display: none;
	}
} 
@media only screen and (max-width: 979px){
	
} 
@media only screen and (min-width: 1024px){
	
}

*{
	box-sizing: border-box;
}

html, body{
	width: 100%
	height: 100%;
	background-color: rgb(235, 235, 235);
	font-family: "Montserrat", sans-serif;
}

#header, #content, .banner, .robin_block, .article{
	width: 100%;
}

#header{
	min-height: 6rem;
	background-color: rgb(55, 60, 63);
	color: white;
	line-height: 6rem;
}
.menu_item{
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 26px;
	text-align: justify;
}
.banner{
	min-height: 575px;
	background: linear-gradient(119deg, rgb(40, 185, 202), rgb(22, 144, 169));
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner_content{
	width: 45rem;
	margin: 0 5rem; 
	vertical-align: middle;
}
.banner_text{
	display: inline-block;
	font-size: 3.75rem;
	color: white;
	margin-bottom: 2rem;
}
.banner_link{
	display: inline-block;
	text-decoration: none;
	font-size: 2.1rem;
	color: rgb(168, 214, 224);
}
.robin_block{
	min-height: 245px;
	display: flex;
	flex-direction: row;
}
.robin_content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: inherit;
	background-color: rgb(39, 33, 44);
	width: 100%;
}
.robin_link{
	display: inline-block;
	min-width: 245px;
	min-height: 245px;
	background-color: rgb(188, 49, 131);
}
.robin_text{
	color: rgb(147, 131, 161);
	font-size: 1.875rem;
	vertical-align: middle;
	margin: 0 5rem;
}
.wrapper{
	/*min-height: 295px;*/
	display: flex;
	align-items: stretch;
	justify-content: space-around;
}
.link_bar{
	display: block;
	width: 100%;
}
.violet_link{	
	padding-bottom: 3px;
}
.violet{
	width: 100%;
	height: 100%;
	background-color: rgb(91, 15, 161);
}
.link_img{
	width: 100%;
}
.article{
	min-height: calc(565px - 3rem);
}
.article_header{
	display: inline-block;
	font-size: 1.875rem;
	color: rgb(8, 140, 165);
	margin: 3rem 5rem 2rem;
}
.article_content{
	margin: 0 5rem;
	display: flex;
	flex-direction: row;
}
.article_text{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.article_text:not(:first-child){
	margin-left: 3rem;
}
.article_paragraph{
	font-size: 0.9rem;
	margin-bottom: 3rem;
	color: rgb(81, 81, 81);
	line-height: 26px;
}

